
$pg-default-bg: #EEE;
$bar-default-bg: #3798d9;
$bar-info-bg: #9575cd;
$bar-danger-bg: #ef5350;
$bar-success-bg: #66bb6a;
$bar-warning-bg: #ffb74d;

// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin browser_prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// KEYFRAMES
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

// ANIMATION
@mixin animation($str) {
  @include browser_prefix('animation', $str);
}

@mixin cssProgressGlowActive($name, $color) {
  @include keyframes($name) {
    0%, 100% {
      box-shadow: 5px 0px 15px 0px #{$color};
    }
    45% {
      box-shadow: 1px 0px 4px 0px #{$color};
    }
  }
}

/* -----------------------------------------------------
	CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;

  .progress,
  .progress2,
  .progress3 {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.8s ease-in-out;
  }

  .cssProgress-label {
    position: absolute;
    overflow: hidden;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0.7em;
    text-align: center;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    line-height: 0;
  }

  .cssProgress-stripes,
  .cssProgress-active,{
    background-image: linear-gradient(
        -90deg,
        rgba(255, 255, 255, .125) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .125) 50%,
        rgba(255, 255, 255, .125) 75%,
        transparent 75%,
        transparent
    );
    background-size: 35px 35px;
  }

  .cssProgress-active {
    @include animation('cssProgressActive 2s linear infinite');
  }

  .cssProgress-active-right {
    @include animation('cssProgressActiveRight 2s linear infinite');
  }

  @include keyframes('cssProgressActive') {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 35px 35px;
    }
  }

  @include keyframes('cssProgressActiveRight') {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -35px -35px;
    }
  }
}

/* -----------------------------------------------------
	Progress Bar 1
-------------------------------------------------------- */
.progress {
  background-color: $pg-default-bg;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);

  .cssProgress-bar {
    height: 30px;
  }

  .cssProgress-label {
    line-height: 18px;
  }
}
