<div class="cssProgress">
  <div [style.color]="isActive ? bar.color: '#71706F'">progress {{bar.name}}</div>
  <div class="progress">
    <div class="cssProgress-bar cssProgress-active" data-percent="75"
         [style.width.%]="bar.loadedValue > 100 ? 100 : bar.loadedValue"
         [style.background]="isActive ? bar.getBarColor() : '#71706F'">
      <span class="cssProgress-label">{{bar.loadedValue > 100 ? '!' : ''}}{{bar.loadedValue}}%</span>
    </div>
  </div>
</div>
