/* You can add global styles to this file, and also import other style files */
@import url(assets/style/nes.min.css);
* {
  margin: 0;
  padding: 0; }

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive; }

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#page-wrap {
  width: 490px;
  margin: 80px auto; }

body {
  background: #262925;
  text-align: center;
  color: #eee; }

pre {
  background: black;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px auto; }

.main {
  width: 100%;
  max-width: 940px;
  margin: 0 auto; }
  .main .main-content {
    margin: 0 8px;
    padding: 60px 0; }
  .main .examples {
    display: block;
    margin-bottom: 65px;
    padding: 2.8rem 3%;
    background: rgba(12, 13, 109, 0.62);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.157); }
    .main .examples:last-child {
      margin-bottom: 20px; }
    .main .examples h3 {
      color: #444;
      margin: 0;
      padding: 0 0 20px 0; }

/*# sourceMappingURL=styles.css.map */
