
html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#page-wrap {
  width: 490px;
  margin: 80px auto;
}

body {
  background: #2D2E31;
  text-align: center;
  color: #eee;
  display: block;
}

.main-mobile {

  width: 100%;
  max-width: 940px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

}

.main-desktop {
  width: 100%;
  max-width: 940px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: #191C20;
  padding: 10px;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);

}

.controller-group {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.controller-group-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  button {
    margin-top: 10px;
  }

  select {
    height: 30px;
  }

}

app-progress-bar {
  width: 100%;
}

pre {
  background: black;
  text-align: left;
  padding: 20px;
  margin: 0 auto 30px auto;
}

.information {
  display: flex;
  align-content: center;
  justify-content: space-between;

  .initial-values {
    text-align: left;
  }

  .button-values {
    text-align: right;
  }
}

.p-relative {
  position: relative;
  min-height: 120px;
}

@media (max-width: 460px) {
  body {
    font-size: 14px;
  }

}


