<div [ngClass]="isMobile ? 'main-mobile' : 'main-desktop'">

  <div class="content-box">
    <h1>Progress Bars Demo</h1>
    <div class="p-relative">
      <app-loading-overlay [isLoaded]="isLoaded"></app-loading-overlay>
      <div *ngIf="isLoaded && !isFetch">
        <p>
          <small>Cannot fetch data from server</small>
        </p>
      </div>
      <div *ngIf="isLoaded && isFetch">
        <p>
          <small>'Click' Refresh button to see the data change.</small>
        </p>
        <small>
          <div [ngClass]="isMobile ? '' : 'information'">
            <div>
              <div class="initial-values">
                <div>Limit value:<span [style.color]="'#e1e18f'"> {{config.limit}} (100%)</span>
                </div>
                <div>Initial values:</div>
                <div *ngFor="let bar of config.bars; let i = index" [style.color]="barColors[i]">
                  <small>progress {{i + 1}}: {{bar}} ({{(bar * 100 / config.limit) | number:'1.0-0'}}%)</small>
                </div>
              </div>
            </div>
            <div>
              <div class="button-values">
                <div>Button values</div>
                <div [ngClass]="button > 0 ? 'nes-text is-primary': 'nes-text  is-error'"
                     *ngFor="let button of config.buttons; let i = index">{{button}}
                  ({{(button * 100 / config.limit) | number:'1.0-0'}}%)
                </div>
              </div>
            </div>
          </div>
        </small>
        <div *ngFor="let bar of bars">
          <app-progress-bar [isActive]="currentBar.name === bar.name" [bar]="bar"></app-progress-bar>
        </div>

        <div *ngIf="!isMobile" class="controller-group">
          <select class="nes-select select" [(ngModel)]="currentBar">
            <option *ngFor="let bar of bars" [ngValue]="bar">progress {{bar.name}}</option>
          </select>
          <button [ngClass]="button > 0 ? 'nes-btn is-primary' : 'nes-btn is-error'" *ngFor="let button of buttons"
                  (click)="makeBarChange(button)">{{button > 0 ? '+' : ''}}{{button}}%
          </button>
          <button (click)="refreshData()" class="nes-btn">Refresh</button>

        </div>

        <div *ngIf="isMobile" class="controller-group-mobile">
          <select class="nes-select select" [(ngModel)]="currentBar">
            <option *ngFor="let bar of bars" [ngValue]="bar">Progress {{bar.name}}</option>
          </select>
          <button [ngClass]="button > 0 ? 'nes-btn is-primary' : 'nes-btn is-error'" *ngFor="let button of buttons"
                  (click)="makeBarChange(button)">{{button}}%
          </button>
          <button (click)="refreshData()" class="nes-btn">Refresh</button>

        </div>
      </div>
    </div>
  </div>
</div>
